---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            {% if post.hidden != true %}
                <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                        <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                        <h3 class="title">{{ post.title }}</h3>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</section>

<!-- Posts NEW POSTS HERE-->

						<a href="https://github.com/cjoshreid/Project-Zenarmor/blob/7d8b251a4c098cf47f0e4cd4fdf037fca589e9b1/README.md">Project: Exploring a Next-Generation Firewall with OPNsense and ZenArmor
							 <h3 class="title">Exploring a Next-Generation Firewall with OPNsense and ZenArmor</h3>


							
						<h2><h2><a href="https://github.com/cjoshreid/HardenWindows-pt1/blob/9d32ddee0085dc0cdf9b922ba99bc52f098dafca/README.md">Project: Hardening Windows 10 Pt.1</h2></h2>
						<p>Strengthening Windows 10 Security with Wazuh and Endpoint Protection</p>	
								
		<div style="border-top: 1px solid #ccc; width: 50%; margin: 10px 0;"></div>						
								
						<h2><h2><a href="https://github.com/cjoshreid/Project-FirewallPolicy/blob/9eec7ca874cacafae4706968b191381ffbd0b505/README.md">Project: Enhancing Firewall Security</h2></h2>
						<p>Strengthen the OPNsense firewall security by implementing Policies</p>	
								
		<div style="border-top: 1px solid #ccc; width: 50%; margin: 10px 0;"></div>						
								
						<h2><h2><a href="https://github.com/cjoshreid/Project-EnhancingSecurity/blob/05c2f0278be40014be4802b3a21921190ebb43d0/README.md">Project: Enhancing Network Security</h2></h2>
						<p>Strengthen the network security by implementing Suricata custom rule creation and Wazuh active response</p>	
								
		<div style="border-top: 1px solid #ccc; width: 50%; margin: 10px 0;"></div>

						<h2><h2><a href="https://github.com/cjoshreid/Cybersecurity-homelab/blob/9cd7d667c5f460c51807dda282ecffe3586603a2/README.md">Cybersecurity Homelab</h2></h2>
						<p>Setting up a homelab for various testing</p>

		<div style="border-top: 1px solid #ccc; width: 50%; margin: 10px 0;"></div>
								
						<h2><h2><a href="https://github.com/cjoshreid/Casestudy-securityaudit/blob/45ddd12ebd3b4ed1ed33d833c5f688d469cc4b9e/README.md">Case Study: Security Audit</h2></h2>
						<p>Case study practice exercise</p>
