---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            {% if post.hidden != true %}
                <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                        <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                        <h3 class="title">{{ post.title }}</h3>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</section>


	<!-- Posts NEW POSTS HERE-->

# Projects

## [Exploring a Next-Generation Firewall](https://github.com/cjoshreid/next-gen-firewall)
Exploring a Next-Generation Firewall with OPNsense and ZenArmor.

## [Hardening Windows 10 Pt.1](https://github.com/cjoshreid/windows10-hardening)
Strengthening Windows 10 Security with Wazuh and Endpoint Protection.

## [Enhancing Firewall Security](https://github.com/cjoshreid/enhancing-firewall-security)
Strengthen the OPNsense firewall security by implementing Policies.

## [Enhancing Network Security](https://github.com/cjoshreid/enhancing-network-security)
Strengthen the network security by implementing Suricata custom rule creation and Wazuh active response.

## [Cybersecurity Homelab](https://github.com/cjoshreid/cybersecurity-homelab)
Setting up a homelab for various testing.

## [Case Study: Security Audit](https://github.com/cjoshreid/security-audit-case-study)
Case study practice exercise.

